@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

@font-face {
	font-family: 'Arial';
	src: url('ArialMT.eot');
	src: local('Arial'), local('ArialMT'),
		url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ArialMT.woff') format('woff'),
		url('../fonts/ArialMT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}